@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg: rgb(6, 12, 17);
    --bg2: #120a2c;
    --accent: #b2a2e7;
    --accent2: #3f42ec;
}

html{
    scroll-behavior: smooth;
}

/* Navbar */

.navbar{
    background: var(--bg);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 80px;
}

#navbar__logo{
    color: var(--accent);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2em;
    font-weight: 800;
    transition: all 0.3s ease;
}

.fa-meteor {
    margin-right: 0.7rem;
    font-size: 0.8em;
}

#navbar__logo:hover{
    color: var(--accent2);
    transform: scale(1.1);
}

.navbar__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: var(--accent);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 20px;
    margin: auto;
    width: 25%;
    height: 100%;
}

.navbar__links::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 18px;
    width: 100%;
    height: 4px;
    background: var(--accent2);
    border-radius: 15px;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.navbar__links:hover::after{
    transform: scaleX(1);
}

.navbar__links:hover{
    color: var(--accent2);
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    width: 100%;
}

.button{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--accent);
    color: var(--bg);
    transition: all 0.3s ease;
}

.button:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--accent2);
    transform: scale(1.1);
    transition: all 0.3s ease;
}



/* Navbar Mobile Responsive */

@media screen and (max-width: 960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;

    }

    .navbar__menu.active{
        padding: auto;
        background: var(--bg);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 54vh;
        font-size: 1.6rem;

    }

    #navbar__logo{
        padding-left: 30px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transform: all 0.3s ease;
        background: var(--accent);
        transition: all 0.3s ease;
    }
    .navbar__links{
        margin-top: 1.5rem;
        font-size: 1.5rem;
        width: 25%;
        display: table;
        align-items: center;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 50px;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: left;
        width: 100%;
        height: 80px;
        margin: 0;
        padding: 0 50px;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 380px) {
    .navbar__links{
        font-size: 1.2rem;
        padding: auto;
    }

    .button{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
        font-size: 0.7em;
        padding: 0 20px;
    }
}

/* Hero Section */

.main{
    background-color: var(--bg);
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-blend-mode: normal;
    background-position: center;
}


.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1{
    line-height: 1;
    padding: 0;
    margin: 0;
    font-size: 3em;
    font-weight: 800;
    color: var(--accent);
}

.main__content h2{
    line-height: 1;
    font-size: 4em;
    font-weight: 800;
    color: var(--accent);
}

.main__content p{
    margin-top: 1em;
    font-size: 2em;
    font-weight: 500;
    color: #e2e2e2;
}

.main__btn{
    font-size: 1rem;
    background: var(--accent);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a{
    font-weight: 600;
    position: relative;
    z-index: 2;
    color: var(--bg);
    text-decoration: none;
}

.fa-arrow-right{
    position: relative;
    margin-left: 10px;
    color: var(--bg);
    z-index: 2;
}

.main__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--accent2);
    transition: all 0.25s;
    border-radius: 4px;
}

.main__btn:hover:after{
    width: 100%;
    color: var(--bg);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.main__btn:hover{
    padding: 14px 52px;
    color: var(--bg);
}


.main__img--container{
    text-align: center;
}

#main__img{
    height: 80%;
    width: 80%;
    filter: drop-shadow(0 20px 50px rgba(0,0,0,0.9));
}

/* Hero Section Mobile Responsive */

@media screen and (max-width: 768px) {
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content{
        text-align: center;
        margin-bottom: 3rem;
    }

    .main__content h1{
        line-height: 0.5;
        font-size: 2.1rem;
        margin-top: 4rem;
    }

    .main__content h2{
        line-height: 0;
        font-size: 2.5em;
        margin-top: 2rem;
    }
    
    .main__content p{
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    #main__img{
        margin-top: -6rem;
        transform: scale(0.8);
        z-index: 1;
    }

}

@media screen and (max-width: 480px) {
    .main__content h1{
        line-height: 0.5;
        font-size: 2rem;
        margin-top: 1rem;
    }

    .main__content h2{
        line-height: 0;
        font-size: 2.3rem;
    }
    
    .main__content p{
        font-size: 1.1rem;
        margin-top: 2rem;
    }

    .main__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }

    .main__content{
        margin-bottom: -10rem;
    }

    #main__img{
        margin-top: 0;
        transform: scale(1.2);
    }
}

/* Services Section */

.services{
    background: var(--bg);
    color: var(--accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.services__title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 6rem;
    margin-bottom: 2rem;
    color: var(--accent);
}


.services__title h1{
    color: var(--accent);
    font-size: 3rem;
}

.services__title i{
    font-size: 2rem;
    margin-left: 20px;
}

.services__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card{
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 8px;
    background-image: linear-gradient(
        to bottom, rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.5) 100%), url('img/ai2.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
    transition: all 0.3s ease;
}

.services__card:nth-child(2){
    background-image: linear-gradient(
        to bottom, rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.5) 100%), url('img/data.jpg');
    background-size: cover;
}

.services__card:nth-child(3){
    background-image: linear-gradient(
        to bottom, rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.5) 100%), url('img/ngen.jpg');
    background-size: cover;
}

.services__card:hover{
    transform: scale(1.02);
    border: 2px solid var(--accent);
}

.services h2{
    position: relative;
    top: 350px;
    left: 30px;
}

.services p{
    position: relative;
    top: 355px;
    left: 30px;
}

.services button{
    position: relative;
    top: 380px;
    left: 30px;
    padding: 10px 20px;
    background: var(--accent2);
    border: none;
    outline: none;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.services button:hover{
    background: var(--accent);
    color: var(--bg);
    padding: 10px 30px;
}

/* Services Section Mobile Responsive */

@media screen and (max-width: 960px) {
    .services{
        height: 1600px;
    }

    .services__title h1{
        font-size: 1.2rem;
    }   
}

@media screen and (max-width: 480px) {
    .services{
        height: 1700px;
    }

    .services__title h1{
        font-size: 1.7rem;;
    }

    .services__title i{
        font-size: 1.4rem;;
    }

    .services__card{
        width: 300px;
        height: 450px;
    }

    .services h2{
        font-size: 1.2rem;
        top: 300px;
    }

    .services p{
        font-size: 0.9rem;
        top: 310px;
    }

    .services button{
        top: 320px;
    }

}

/* Footer Section */

.footer__container{
    background: var(--bg2);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo{
    color: var(--accent);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    transition: all 0.3s ease;
}

.footer__links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper{
    display: flex;
    text-decoration: none;
}

.footer__link--items{
    color: var(--accent);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
    text-decoration: none;

}

.footer__link--items h2{
    margin-bottom: 15px;
}

.footer__link--items > h2{
    color: var(--accent);
}

.footer__link--items a{
    color: var(--accent);
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover{
    color: var(--accent2);
    transition: 0.3s ease-out;
}

/* Social Icons */

.social__icon--link{
    color: var(--accent);
    font-size: 24px;
}

.social__media{
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social__icon--link{
    transition: all 0.1s ease;
}

.social__icon--link:hover{
    color: var(--accent2);
    transform: scale(1.15);
}

.website__right{
    color: var(--accent);
}

/* Social Media Query */

@media screen and (max-width: 820px) {
    .footer__links{
        padding-top: 2rem;
    }
    
    #footer__logo{
        margin-bottom: 2rem;
    }

    .website__right{
        margin-bottom: 2rem;
    }

    .footer__link--wrapper{
        flex-direction: column;

    }

    .social__media--wrap{
        flex-direction: column;
    }

}

@media screen and (max-width: 480px) {
    .footer__links{
        margin-top: -4rem;
    }

    .footer__link--items{
        margin: 5;
        padding: 10px;
        width: 100%;
    }

    .footer__link--items h2{
        font-size: 1.2rem;
    }

    .footer__link--items a{
        font-size: 0.8rem;
    }


}